{%  extends 'app/base.html' %}

{% block title %} sign up page  {% endblock %}


{%  block content %}

this is signup page 

<div class="container">
  
  <div class="row  d-flex justify-content-center py-5">
    <div class="col-12 col-md-6">
<form method="post" action="." class="bg-light border border-1 py-5 px-5">
  <h2 class="text-center">signup  Form</h2>
  {% csrf_token %}


  {{ form }}



  <button class="btn btn-primary btn-lg my-3 "> Submit </button>
</form>
</div>
  </div>
</div>





{% endblock  %}
